/* Margenes, fondo, letra y carga */

*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    
}

body{
    background-image: url("images/carl-raw-484203-unsplash.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: url('images/logo.jpg') 50% 50% no-repeat white;
    background-size: 55%;
}

/*======================================*/

/* Pagina Responsive */

@media screen and (max-width:600px){
    nav{
        font-size: 50%;
        width: 100%;
    }

    header{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .caja{
        text-decoration-color: white;
        color:white;
        margin-left: 0%;
        margin-right: 0%;
    }

    fieldset{
        background-image: url("images/carl-raw-484203-unsplash.jpg");
    }

    .Noticia1{
        background-color: white;
    }

    .twitter{
        visibility: hidden;
    }

    .imagenLogo{
        display: none;
    }

    .casita{
        display: block;
        float: left;
        width: 4.5%;
        margin-left: 2%;
        margin-right: 10%;  
    }
}    

/*======================================*/

/* Menu superior */

.imagenLogo{
    float: left;
    width: 10%;
    margin-inline-end: 3%;
    margin-left: 0.5%; 
    margin-top: 0.8%; 
}

header{
    border-style: solid;
    border-width: 2px;
    border-color: black;
        background: white;
        width: 100%;
        position: fixed;
        z-index: 100;
    font-weight: bold;
    font-size: 150%;
}

.barraSuperior{
    list-style: none;
    font-family: Kiona-Regular;
    color: black;
    font-style: normal;
    padding: 1% 0 0 0;  
}

.barraSuperior ul{
    list-style-type: none;
    text-align: center;
    
    
}

.barraSuperior ul li{
    position: relative;
    display: inline;
    text-align: center;
    margin: 0 3% 0 0;
    

}

.barraSuperior ul a{
    text-decoration: none; 
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.barraSuperior ul a:hover{
    border-bottom: 2px solid #ccc;
    font-style: normal;
    color: darkred;
    letter-spacing: 1px;
    text-decoration: none;
}



.barraSuperior ul ul {
    margin-top: 0; 
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background: whitesmoke;
    padding: 10px 10px 10px 10px;
    text-align: left;
    padding-inline-start: 20px;
    padding-block-end: 10px;
    padding-block-start: 10px;
    line-height: 50px;
    border-radius: 12px 12px 12px 12px;
   }
   
  
.barraSuperior ul ul li {
    float:none;
   }
   
   
.barraSuperior ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   
.barraSuperior ul li:hover > ul {
    display:block;
   }

.twitter{
    float: right;
    width: 2.5%;
    margin-inline-end: 1%; 
    padding-bottom: 1%;
}

/*===================================*/

/* Barra scroll lateral */

body::-webkit-scrollbar{
    width: 7px;
    background: dimgrey;
}

body::-webkit-scrollbar-thumb{
    background: darkred;
    border-radius: 10px;
}

/*====================================*/

/* Caja principal */

@media screen and (min-width: 601px){
.caja{
    margin-left: 25%;
    margin-right: 25%;
    }

    .casita{
        display: none;
    }
    .imagenLogo{
        display: block;
        margin-right: 6%; 
    }
}

.titulo{
    color:white;
    font-family: Comic;
    font-weight: bolder;
    text-shadow: 2px 3px black;
    padding-top: 12%;
    margin-left: 8%;
    font-size: 250%;
} 

fieldset{
    border-width: 0px;
    size: 960px;
}  

/*====================================*/

/* Noticias */

.subtitulo{
    font-style: italic;
    font-size: 200%;
    text-align: center;
    margin-bottom: 5%;
    font-weight: bold;
    color: darkred;  
}

.Noticia1{
    background-color: white;
    border-radius: 12px 12px 12px 12px;
    border-style: solid;
    border-color: darkred;
    border-width: 3px;
    margin: 5% 5% 5% 5%;
    font-size: 140%;
    padding: 5% 10% 10% 10%;
    color: black;
    text-align: left;
}


.imagenLogoNoticia1{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}
/*====================================*/