*{
    font-family:Kiona-Regular;
    padding: 0;
    margin: 0;
}

p{
    margin-bottom: 5%;
}

html{
    background-image: url("https://pbs.twimg.com/media/D1eTNt2X4AAzLxr.jpg:large");
}



#imagenLogo{
    float: left;
    width: 10%;
    margin-inline-end: 3%;
    margin-left: 0.5%; 
    margin-top: 0.8%;  
}

header{
    border-style: solid;
    border-width: 4px;
    border-color: black;
        background: white;
        width: 100%;
        position: fixed;
        z-index: 100;

    }

@font-face {
        font-family: Kiona-Regular;
        src: url("https://drive.google.com/open?id=1ehXD-ctB3ZVQmnTqPwsnNgKfye6x6vOI") format("truetype");
}

#barraSuperior{
    font-family: Kiona-Regular;
    color: black;
    font-style: normal;
    padding: 1% 0 0 0;  
}

#barraSuperior ul{
    list-style-type: none;
    text-align: center;
    
    
}

#barraSuperior ul li{
    position: relative;
    display: inline;
    text-align: center;
    margin: 0 3% 0 0;
    

}

#barraSuperior ul a{
    color: black;
    text-decoration: none;
}

#barraSuperior ul a:hover{
    font-style: normal;
    color: darkred;
    letter-spacing: 1px;
    text-decoration: none;
}

#twitter{
    float: right;
    width: 2.5%;
    margin-inline-end: 1%; 
    padding-bottom: 1%;
}

#barraSuperior ul ul {
    margin-top: 0; 
    border-style: solid;
    border-color: darkred;
    border-top-width: 35px;
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:white;
    padding: 10px 10px 10px 10px;
    text-align: left;
    padding-inline-start: 20px;
    padding-block-end: 10px;
    padding-block-start: 10px;
    line-height: 50px;
   }
   
   /* items del menu desplegable */
   
#barraSuperior ul ul li {
    float:none;
   }
   
   /* enlaces de los items del menu desplegable */
   
#barraSuperior ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */   
   
#barraSuperior ul li:hover > ul {
    display:block;
   }

.caja{
    color: white;
    padding-top: 7%;
    margin-left: 25%;
    margin-right: 25%;
}

fieldset{
    size: 960px;
    background-color: white;
    padding-bottom: 100%;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 12px 12px 12px 12px;
}

legend{
     margin-left: 8%;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-size: 200%;
}   



body::-webkit-scrollbar{
    width: 7px;
    background: dimgrey;
}

body::-webkit-scrollbar-thumb{
    background: darkred;
    border-radius: 10px;
}

@media screen and (max-width:600px) {
    
.BackplateVerde img{
    float: left;
    padding-top: 0%;
    margin-left: 5%;
    width: 50px;
    align-content: center;
    
}

}

.BackplateVerde img{
    float: left;
    padding-top: 0%;
    margin-left: 5%;
    width: 60%;
    align-content: center;
    
}



.BackplateVerde{
    margin-right: 5%;
    color:black;
}

.BackplateVerde h3{
    font-weight: bold;
    font-style: italic;
    position: relative;
    font-size: 190%;
    color: green;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    margin-left: 10%;
}



.textoLateral{
    float:right;
    position: relative;
    font-size: 150%;
    padding-left: 8%;
    padding-top: 10%;
    line-height: 200%;
}

.correo{
    padding-left: 2%;
    font-weight: bold;
    font-size: 200%;
    }

.twitter-tweet{
   margin-left: 15%;
   padding-top: 120%;
}

hr{
    margin-top: 5%;
    color: black;
    border-style: solid;
    border-width: 2px; 
}